/* Bottom Nav */
.bottomnav {
    position: fixed;
    bottom: 0px;
    height: 56px;
    width: 375px;
    background-color: #FFFFFF;
    box-shadow: 0px -1px 0px #EBEBEB;
}

.extranav {
    height: 56px;
}