@font-face {
    font-family: Rubik;
    src: url(Rubik-Regular.ttf);
}

.profilpage {
    font-family: Rubik;
}

/* App */

.bannerwelcometitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #03AC0E;
}

.bannerwelcometext {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.formsize {
    width: 300px;
}

.btn-green {
    background-color: #03AC0E;
    color: white;
    border-radius: 20px;
}

.btn-green:hover {
    background-color: #03AC0E;
    color: white;
}

.btn-green:focus {
    background-color: #03AC0E;
    color: white;
}

/* Profil */

.profilheader {
    background-image: url(bgprofile.png);
    width: 375px;
    height: 346px;
    background-size: cover;
}

.profiltext {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.profilimg {
    width: 95px;
    height: 95px;
}

.profilname {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.profilemail {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.profiltoken {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.profilmenu {
    width: 375px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #292929;
}

.menu {
    width: 375px;
}

.btnlogout {
    width: 343px;
    height: 53px;
    background: #FAFAFA;

    border: 1px solid #ED0A2A;
    border-radius: 100px;

    color: #ED0A2A;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.btnlogout:hover {
    width: 343px;
    height: 53px;
    background: #FAFAFA;

    border: 1px solid #ED0A2A;
    border-radius: 100px;

    color: #ED0A2A;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

/* Register */

.askaccount {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #7A7A7A;
}

.asklink a {
    text-decoration: none;
    color: #03AC0E;
}

.asklink a:hover {
    text-decoration: none;
    color: #03AC0E;
}



@media only screen and (orientation: portrait) {
    .profilheader {
        width: 100%;
    }
}