@font-face {
    font-family: Rubik;
    src: url(Rubik-Regular.ttf);
}

.loginpage {
    font-family: Rubik;
}

/* App */

.bannerwelcometitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #03AC0E;
}

.bannerwelcometext {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.formsize {
    width: 300px;
}

.btn-green {
    background-color: #03AC0E;
    color: white;
    border-radius: 20px;
}

.btn.btn-green:hover {
    background-color: #03AC0E;
    color: white;
}

.btn-green:focus {
    background-color: #03AC0E;
    color: white;
}