@font-face {
    font-family: Rubik;
    src: url(Rubik-Regular.ttf);
}

.containercustom {
    background-color: #FFFFFF;
    width: 375px;
    height: 600px;
}

.detailpage {
    font-family: Rubik;
}

.imagedetail {
    width: 343px;
    height: 343px;
    border-radius: 8px;
}

.categorytag {
    background: #EBEBEB;
    border-radius: 100px;
    padding: 4px 12px;

    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;
}

.titledetail {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}

.pricedetail {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}

.garis {
    width: 343px;
    height: 2px;
    background: #EBEBEB;
}

.titledeskripsi {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}

.deskripsi {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;
}

.btndetail {
    width: 343px;
    height: 53px;
    background: #03AC0E;
    border-radius: 100px;
    border: #03AC0E;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;

}

.loaderimg {
    width: 343px;
    height: 343px;
    border-radius: 8px;
    background: #ddd;
    position: relative;
    overflow: hidden;
}

.loadtitle {
    width: 149px;
    height: 21px;
    border-radius: 100px;
    background: #ddd;
    position: relative;
    overflow: hidden;
}

.loaddeskripsi {
    width: 343px;
    height: 50px;
    border-radius: 100px;
    background: #ddd;
    position: relative;
    overflow: hidden;
}

/* Animation Shimmer */
.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2s infinite;
}

.shimmer {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-20deg);
}

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }

    50% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(150%);
    }
}